*.vsidx
*.vsidx
*.vsidx
*.vsidx
SandboxCode/.vs/SandboxCode/v17/.suo
SandboxCode/.vs/SandboxCode/v17/.suo
SandboxCode/.vs/SandboxCode/v17/.suo
SandboxCode/.vs/SandboxCode/v17/.suo
SandboxCode/.vs/SandboxCode/v17/.suo
